<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1083854661561-g211se5lrktnn44koaugq1csnmtqsibh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1083854661561-g211se5lrktnn44koaugq1csnmtqsibh</string>
	<key>API_KEY</key>
	<string>AIzaSyCtb8ikmBNkKP3O4fdMt3vF0ezgJA17sh0</string>
	<key>GCM_SENDER_ID</key>
	<string>1083854661561</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.paywithclerc.paywithclerc</string>
	<key>PROJECT_ID</key>
	<string>paywithclerc</string>
	<key>STORAGE_BUCKET</key>
	<string>paywithclerc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1083854661561:ios:767551b476a7d44d</string>
	<key>DATABASE_URL</key>
	<string>https://paywithclerc.firebaseio.com</string>
</dict>
</plist>