<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>761530653721-obbpuggnqgeps3s7q3gijne6h2p77gcg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.761530653721-obbpuggnqgeps3s7q3gijne6h2p77gcg</string>
	<key>API_KEY</key>
	<string>AIzaSyADhjsfexdxHTM5C6nfi4s87idX0FDMllc</string>
	<key>GCM_SENDER_ID</key>
	<string>761530653721</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.paywithclerc.paywithclerc</string>
	<key>PROJECT_ID</key>
	<string>paywithclerc-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>paywithclerc-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:761530653721:ios:767551b476a7d44d</string>
	<key>DATABASE_URL</key>
	<string>https://paywithclerc-dev.firebaseio.com</string>
</dict>
</plist>